@{
    ViewData["Title"] = "Games Home";
        Layout = "_PublicLayout";
}

<div class="text-center">
    <h1 class="display-4">Välkommen till GamesNstuff</h1>
    <p>Kolla på vilka <a href="/spel">spel</a> vi har i lager!</p>
    
</div>
